node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#test database
prisma/dev.sqlite
# Development SSL certificates
*.pem
staging-backup-*.sql
migrate-lottery-to-event-specific.sql
deep-voyage-*.json
*.json
!package.json
!package-lock.json
!components.json
!tsconfig.json
!tsconfig.svelte-check.json
